* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root, #app {
	margin: 10px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 13px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

.table-container {
	display: flex;
	position: relative;
}

.table-selection-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 21;
}

.table, table {
	position: relative;
}

.table {
	/*overflow: scroll;*/
	/*max-width: 100%;*/
	/*max-height: 80vh;*/
}

tr td:first-child {
	position: sticky;
	left: 0;
	z-index: 100;
}

tbody tr:first-child {
	position: sticky;
	top: 0;
	z-index: 100;
}

table, tbody {
	border-collapse: collapse;
	height: 100%;
	user-select: none;
}

.td-wrapper {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.td-wrapper {
	font-family: monospace;
}

td {
	border: 1px solid black;
	padding: 0;
	margin: 0;
	min-width: 100px;
	min-height: 28px;
	height: auto;
	display: table-cell;
	font-family: monospace;
}

td .td {
	position: relative;
	min-width: 140px;
	min-height: 28px;
	width: 100%;
	height: 100%;
	/*padding: 4px;*/
	white-space: pre;
}

.td textarea {
	border-radius: 0;
	/*border: 1px solid transparent;*/
	border: none;
	/*padding: 4px;*/
	outline: none;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	font-family: monospace;
	opacity: 0;
	resize: none;
	font-size: 13px;
}

.td textarea:focus {
	/*border-color: dodgerblue;*/
	/*outline: 1px solid dodgerblue;*/
	background-color: white;
	opacity: 1;
}

.border {
	z-index: 100;
	padding: 4px;
	background: #3e3e3e;
	border-color: #a9a9a9;
	color: white;
}

.selection {
	/*transition: all 20ms;*/
	z-index: 10;
	border: 1px solid rgba(50, 50, 250, 0.6);
	background-color: rgba(50, 50, 250, 0.1);
	position: absolute;
	top: 0;
	left: 0;
}

.selected-cell {
	/*transition: all 20ms;*/
	z-index: 20;
	border: 2px solid rgba(50, 50, 250, 1);
	position: absolute;
}

.toolbar {
	padding: 0 10px 10px 0;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 10px;
}

.toolbar-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	padding: 5px;
	cursor: pointer;
	border-radius: 2px;
}

.toolbar-button:hover {
	background-color: #d7f2ff;
}

.color-button {
	width: 40px;
	height: 40px;
	border: 1px solid lightgrey;
	cursor: pointer;
}

.color-button + .color-button {
	margin-left: 4px;
}

.backdrop {
	display: flex;
	position: fixed;
	z-index: 22;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	background-color: rgba(1,1,1,0.2);
}

.icon {
	width: 20px;
	height: 20px;
}

.input {
	width: 100px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
